{% extends 'DefaultBundle:Template:busca.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col-sm-3 page-sidebar">
        <aside>
            <div class="inner-box">
                {% include 'DefaultBundle:Template:_admin/sidebar.html.twig' with {'empresa': empresa, 'page':'quiz'}%}
            </div>
            <!-- /.inner-box  -->

        </aside>
    </div>
    <!--/.page-sidebar-->

    <div class="col-sm-9 page-content">

        <div class="inner-box">
            <div id="accordion" class="panel-group">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a href="#collapseB1" data-toggle="collapse"> Cadastrar Respostas </a></h4>
                    </div>
                    <div class="panel-collapse collapse in" id="collapseB1">
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="allAds">
                                    {{form_start(form)}}

                                    
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            {{form_label(form.perguntaId)}}
                                            {{form_widget(form.perguntaId)}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            {{form_label(form.resposta)}}
                                            {{form_widget(form.resposta)}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            {{form_label(form.status)}}
                                            {{form_widget(form.status)}}
                                        </div>
                                    </div>
                                    
                                    
                                    
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i> Cadastrar</button>
                                        </div>
                                    </div>

                                    {{form_end(form)}}
                                    

                                    
                                </div>
                                <div class="tab-pane" id="businessAds"></div>
                                <div class="tab-pane" id="personalAds"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.row-box End-->

        </div>
    </div>
    <!--/.page-content-->
</div>
{% endblock %}