{% extends "::base.html.twig" %}

{% block title %}DefaultBundle:Upload:index{% endblock %}

{% block body %}


<form action="{{path('upload_index')}}" method="post" enctype="multipart/form-data">
    <input type="file" name="upload" />
    <button type="submit" value="enviar">enviar</button>
</form>

{% endblock %}
