<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="assets/ico/favicon.png">
<title>Avalie-me</title>
<!-- Bootstrap core CSS -->
<link href="{{asset('bundles/default/theme/assets/bootstrap/css/bootstrap.css')}}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{{asset('bundles/default/theme/assets/css/style.css')}}" rel="stylesheet">

<!-- styles needed for carousel slider -->
<link href="{{asset('bundles/default/theme/assets/css/owl.carousel.css')}}" rel="stylesheet">
<link href="{{asset('bundles/default/theme/assets/css/owl.theme.css')}}" rel="stylesheet">
<script src="{{asset('bundles/default/js/jquery-1.10.1.min.js')}}"></script>
<link rel="stylesheet" href="{{ asset('bundles/default/theme/datepicker/datepicker3.css?n=111') }}">




<!-- Just for debugging purposes. -->
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<!-- include pace script for automatic web page progress bar  -->

<script>
    paceOptions = {
      elements: true
    };
</script>
<script src="{{asset('bundles/default/theme/assets/js/pace.min.js')}}"></script>
</head>
<body>
<div id="wrapper">
  <div class="header">
    <nav class="navbar   navbar-site navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button"> <span class="sr-only">Ava</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a href="{{path('default_homepage')}}" class="navbar-brand logo logo-title">
          <!-- Original Logo will be placed here  -->
          <span class="logo-icon"><i class="icon icon-search-1 ln-shadow-logo shape-0"></i> </span> Avalie - <span>me</span> </a> </div>
        <div class="navbar-collapse collapse">

          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{path('logout')}}">Sair</a></li>
            {#<li><a href="{{path('cadastre_se')}}">Cadastre-se</a></li>#}

          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </div>
  <!-- /.header -->
  <div class="search-row-wrapper">
    <div class="container ">

    </div>
  </div>
  <!-- /.search-row -->
  <div class="main-container">
    <div class="container">

        {% set success = app.session.flashbag.get('success') %}
        {% if success %}
            {% embed 'DefaultBundle:Default:Alert/success.html.twig' %}
                {% block message %}
                    {{ success[0] }}
                {% endblock %}
            {% endembed %}
        {% endif %}

        {% set danger = app.session.flashbag.get('danger') %}
        {% if danger %}
            {% embed 'DefaultBundle:Default:Alert/danger.html.twig' %}
                {% block message %}
                    {{ danger[0] }}
                {% endblock %}
            {% endembed %}
        {% endif %}

    	{% block body %}{% endblock %}

    </div>
  </div>
  <!-- /.main-container -->

  <div class="footer" id="footer">
    <div class="container">
      <ul class=" pull-right navbar-link footer-nav">
        <li> &copy; 2018 Avalie-me</li>
      </ul>
    </div>

  </div>
  <!-- /.footer -->
</div>
<!-- /.wrapper -->

<!-- Modal Change City -->



<!-- /.modal -->

<!-- Le javascript
================================================== -->

<!-- Placed at the end of the document so the pages load faster -->
<!-- <script src="{{asset('bundles/default/theme/assets/js/jquery.min.js')}}"> </script> -->
<script src="{{asset('bundles/default/theme/assets/bootstrap/js/bootstrap.min.js')}}"></script>

<!-- include carousel slider plugin  -->
<script src="{{asset('bundles/default/theme/assets/js/owl.carousel.min.js')}}"></script>

<!-- include equal height plugin  -->
<script src="{{asset('bundles/default/theme/assets/js/jquery.matchHeight-min.js')}}"></script>

<!-- include jquery list shorting plugin plugin  -->
<script src="{{asset('bundles/default/theme/assets/js/hideMaxListItem.js')}}"></script>

<!-- include jquery.fs plugin for custom scroller and selecter  -->
<script src="{{asset('bundles/default/theme/assets/plugins/jquery.fs.scroller/jquery.fs.scroller.js')}}"></script>
<script src="{{asset('bundles/default/theme/assets/plugins/jquery.fs.selecter/jquery.fs.selecter.js')}}"></script>
<!-- include custom script for site  -->
<script src="{{asset('bundles/default/theme/assets/js/script.js')}}"></script>
<script src="{{asset('bundles/default/js/cep.js')}}"></script>
<script src="{{ asset('bundles/default/theme/datepicker/bootstrap-datepicker.js?n=111') }}"></script>
    <script src="{{ asset('bundles/default/theme/datepicker/locales/bootstrap-datepicker.pt-BR.js?n=111') }}"></script>

<script>
	function setValues(values){
		$('#plugged_defaultbundle_usuario_endereco').val(values.address);
		$('#plugged_defaultbundle_usuario_cidade').val(values.city);
		$('#plugged_defaultbundle_usuario_estado').val(values.state);
		$('#plugged_defaultbundle_usuario_numero').focus();
	}
	$('.date').datepicker({
        'format' : 'dd/mm/yyyy',
        'language': 'pt-BR'
    });
</script>


</body>
</html>
