<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Fav and touch icons -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{asset('bundles/default/theme/assets/ico/apple-touch-icon-144-precomposed.png')}}">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{asset('bundles/default/theme/assets/ico/apple-touch-icon-114-precomposed.png')}}">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{asset('bundles/default/theme/assets/ico/apple-touch-icon-72-precomposed.png')}}">
		<link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png')}}">
		<link rel="shortcut icon" href="{{asset('bundles/default/theme/assets/ico/favicon.png')}}">
		<title>Avalie-me</title>
		<!-- Bootstrap core CSS -->
		<link href="{{asset('bundles/default/theme/assets/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="{{asset('bundles/default/theme/assets/css/style.css')}}" rel="stylesheet">

		<!-- styles needed for carousel slider -->
		<link href="{{asset('bundles/default/theme/assets/css/owl.carousel.css')}}" rel="stylesheet">
		<link href="{{asset('bundles/default/theme/assets/css/owl.theme.css')}}" rel="stylesheet">

		<!-- Just for debugging purposes. -->
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')}}"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')}}"></script>
		<![endif]-->

		<!-- include pace script for automatic web page progress bar  -->


		<style>
		.card {
		    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		    max-width: 300px;
		    margin: auto;
		    text-align: center;
		}

		.title {
		    color: grey;
		    font-size: 18px;
		}

		.button {
		    border: none;
		    outline: 0;
		    display: inline-block;
		    padding: 8px;
		    color: white;
		    background-color: #149078;
		    text-align: center;
		    cursor: pointer;
		    width: 100%;
		    font-size: 18px;
		}

		a {
		    text-decoration: none;
		    font-size: 22px;
		    color: black;
		}

		button:hover, a:hover {
		    opacity: 0.7;
		}
		</style>

		<script>
			paceOptions = {
				elements : true
			};
		</script>
		<script src="{{asset('bundles/default/js/jquery-1.10.1.min.js')}}"></script>

		<script src="{{asset('bundles/default/theme/assets/js/pace.min.js')}}"></script>

	</head>
	<body>

		<div id="wrapper">

			<div class="header">
				<nav class="navbar   navbar-site navbar-default" role="navigation">
					<div class="container">
						<div class="navbar-header">
							<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
								<span class="sr-only">Ava</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
							</button>
							<a href="{{path('default_homepage')}}" class="navbar-brand logo logo-title"> <!-- Original Logo will be placed here  --> <span class="logo-icon"><i class="icon icon-search-1 ln-shadow-logo shape-0"></i> </span> Avalie - <span>me</span> </a>
						</div>
						<div class="navbar-collapse collapse">

							<ul class="nav navbar-nav navbar-right">
								<li>
									<a href="{{path('login')}}">Login</a>
								</li>
								<!-- <li>
									<a href="{{path('usuario_new')}}">Cadastre-se</a>
								</li> -->

							</ul>
						</div>
						<!--/.nav-collapse -->
					</div>
					<!-- /.container-fluid -->
				</nav>
			</div>
			<!-- /.header -->

			<div class="intro">
				<div class="dtable hw100">
					<div class="dtable-cell hw100">
						<div class="container text-center">
							<h1 class="intro-title animated fadeInDown"> Já foi avaliado hj? :)</h1>
							<p class="sub animateme fittext3 animated fadeIn">
								Proporcionando visibilidade ao mercado de trabalho
							</p>

							<div class="row search-row animated fadeInUp">
								<form action="{{path('default_homepage')}}" method="get">
								<div class="col-lg-8 col-sm-8 search-col relative">
									<i class="icon-docs icon-append"></i>
									<input type="text" name="ads"  class="form-control has-icon" placeholder="procure por profissional, empresa ..." value="">
								</div>
								<div class="col-lg-4 col-sm-4 search-col">
									<button class="btn btn-primary btn-search btn-block">
										<i class="icon-search"></i><strong>buscar</strong>
									</button>
								</div>
								</form>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- /.intro -->

			<div class="main-container">
				<div class="container">

					{% block body %}{% endblock %}

				</div>
			</div>
			<!-- /.main-container -->

			<div class="page-info" style="background: url({{asset('bundles/default/theme/images/bg.jpg')}}); background-size:cover">
				<div class="container text-center section-promo">
					<div class="row">
						<div class="col-sm-3 col-xs-6 col-xxs-12">
							<div class="iconbox-wrap">
								<div class="iconbox">
									<div class="iconbox-wrap-icon">
										<i class="icon  icon-group"></i>
									</div>
									<div class="iconbox-wrap-content">
										<h5><span>2200</span></h5>
										<div  class="iconbox-wrap-text">
											Visitas
										</div>
									</div>
								</div>
								<!-- /..iconbox -->
							</div><!--/.iconbox-wrap-->
						</div>

						<div class="col-sm-3 col-xs-6 col-xxs-12">
							<div class="iconbox-wrap">
								<div class="iconbox">
									<div class="iconbox-wrap-icon">
										<i class="icon  icon-th-large-1"></i>
									</div>
									<div class="iconbox-wrap-content">
										<h5><span>100</span></h5>
										<div  class="iconbox-wrap-text">
											Empresas
										</div>
									</div>
								</div>
								<!-- /..iconbox -->
							</div><!--/.iconbox-wrap-->
						</div>

						<div class="col-sm-3 col-xs-6  col-xxs-12">
							<div class="iconbox-wrap">
								<div class="iconbox">
									<div class="iconbox-wrap-icon">
										<i class="icon  icon-map"></i>
									</div>
									<div class="iconbox-wrap-content">
										<h5><span>700</span></h5>
										<div  class="iconbox-wrap-text">
											Profissionais
										</div>
									</div>
								</div>
								<!-- /..iconbox -->
							</div><!--/.iconbox-wrap-->
						</div>

						<div class="col-sm-3 col-xs-6 col-xxs-12">
							<div class="iconbox-wrap">
								<div class="iconbox">
									<div class="iconbox-wrap-icon">
										<i class="icon icon-facebook"></i>
									</div>
									<div class="iconbox-wrap-content">
										<h5><span>50,000</span></h5>
										<div  class="iconbox-wrap-text">
											Avaliações
										</div>
									</div>
								</div>
								<!-- /..iconbox -->
							</div><!--/.iconbox-wrap-->
						</div>

					</div>

				</div>
			</div>
			<!-- /.page-info -->

			<div class="page-bottom-info">
				<div class="page-bottom-info-inner">

					<div class="page-bottom-info-content text-center">
						<h1>Se você tiver duvidas, ou queira deixar uma sugestão entre em contato no numero (11) 96177-4833</h1>
						<a class="btn  btn-lg btn-primary-dark" href="{{asset('bundles/default/theme/avalieme.apk')}}"> <i class="icon-mobile"></i> <span class="hide-xs color50">Baixe o app:</span> Avalieme </a>
					</div>

				</div>
			</div>

			<div class="footer" id="footer">
				<div class="container">
					<ul class=" pull-right navbar-link footer-nav">

						<li>
							&copy; 2018 Avalie-me
						</li>
					</ul>
				</div>

			</div>
			<!-- /.footer -->
		</div>
		<!-- /.wrapper -->

		<!-- Le javascript
		================================================== -->

		<!-- Placed at the end of the document so the pages load faster -->

		<script src="{{asset('bundles/default/theme/assets/bootstrap/js/bootstrap.min.js')}}"></script>

		<!-- include carousel slider plugin  -->
		<script src="{{asset('bundles/default/theme/assets/js/owl.carousel.min.js')}}"></script>

		<!-- include equal height plugin  -->
		<script src="{{asset('bundles/default/theme/assets/js/jquery.matchHeight-min.js')}}"></script>

		<!-- include jquery list shorting plugin plugin  -->
		<script src="{{asset('bundles/default/theme/assets/js/hideMaxListItem.js')}}"></script>

		<!-- include jquery.fs plugin for custom scroller and selecter  -->
		<script src="{{asset('bundles/default/theme/assets/plugins/jquery.fs.scroller/jquery.fs.scroller.js')}}"></script>
		<script src="{{asset('bundles/default/theme/assets/plugins/jquery.fs.selecter/jquery.fs.selecter.js')}}"></script>

		<!-- include custom script for site  -->
		<script src="{{asset('bundles/default/theme/assets/js/script.js')}}"></script>

		<!-- include jquery autocomplete plugin  -->

		<script type="text/javascript" src="{{asset('bundles/default/theme/assets/plugins/autocomplete/jquery.mockjax.js')}}"></script>
		<script type="text/javascript" src="{{asset('bundles/default/theme/assets/plugins/autocomplete/jquery.autocomplete.js')}}"></script>
		<script type="text/javascript" src="{{asset('bundles/default/theme/assets/plugins/autocomplete/usastates.js')}}"></script>

		<script type="text/javascript" src="{{asset('bundles/default/theme/assets/plugins/autocomplete/autocomplete-demo.js')}}"></script>
		<script src="{{asset('bundles/default/js/cep.js')}}"></script>
<script>
	function setValues(values){
		$('#plugged_defaultbundle_usuario_endereco').val(values.address);
		$('#plugged_defaultbundle_usuario_cidade').val(values.city);
		$('#plugged_defaultbundle_usuario_estado').val(values.state);
		$('#plugged_defaultbundle_usuario_numero').focus();
	}

</script>
	</body>
</html>
