<div class="user-panel-sidebar">

	<!-- /.collapse-box  -->
	<div class="collapse-box">
		<h5 class="collapse-title"> Meus Anuncios<a href="#MyAds" data-toggle="collapse" class="pull-right"><i class="fa fa-angle-down"></i></a></h5>
		<div class="panel-collapse collapse in" id="MyAds">
			<ul class="acc-list">
				<li>
					<a href="{{path('painel_anuncio_show')}}"><i class="icon-docs"></i> Anuncios  </a>
				</li>
				
				<!-- <li>
					<a href="account-saved-search.html"><i class="icon-star-circled"></i> Visitas <span class="badge">42</span> </a>
				</li>
				<li>
					<a href="account-archived-ads.html"><i class="icon-folder-close"></i> Fotos <span class="badge">42</span></a>
				</li>
				<li>
					<a href="account-pending-approval-ads.html"><i class="icon-hourglass"></i> Pendentes <span class="badge">42</span></a>
				</li> -->

			</ul>
		</div>
	</div>
	<!-- /.collapse-box  -->

	<div class="collapse-box">
		<h5 class="collapse-title"> Minha Conta <a href="#TerminateAccount" data-toggle="collapse" class="pull-right"><i class="fa fa-angle-down"></i></a></h5>
		<div class="panel-collapse collapse in" id="TerminateAccount">
			<ul class="acc-list">
				<li>
					<a href="{{path('usuario')}}"><i class="icon-docs"></i> Meus dados  </a>
				</li>
				<li>
					<a href="account-close.html"><i class="icon-cancel-circled "></i> fechar conta</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- /.collapse-box  -->
</div>