<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{asset('bundles/default/theme/assets/ico/apple-touch-icon-144-precomposed.png')}}">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{asset('bundles/default/theme/assets/ico/apple-touch-icon-114-precomposed.png')}}">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{asset('bundles/default/theme/assets/ico/apple-touch-icon-72-precomposed.png')}}">
<link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png')}}">
<link rel="shortcut icon" href="{{asset('bundles/default/theme/assets/ico/favicon.png')}}">
<title>Avalie-me</title>
<!-- Bootstrap core CSS -->
<link href="{{asset('bundles/default/theme/assets/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{{asset('bundles/default/theme/assets/css/style.css')}}" rel="stylesheet">

<!-- styles needed for carousel slider -->
<link href="{{asset('bundles/default/theme/assets/css/owl.carousel.css')}}" rel="stylesheet">
<link href="{{asset('bundles/default/theme/assets/css/owl.theme.css')}}" rel="stylesheet">

<!-- Just for debugging purposes. -->
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')}}"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')}}"></script>
<![endif]-->

<!-- include pace script for automatic web page progress bar  -->

<script>
    paceOptions = {
      elements: true
    };
</script>
<script src="{{asset('bundles/default/theme/assets/js/pace.min.js')}}"></script>
</head>
<body>
<div id="wrapper">
  <div class="header">
    <nav class="navbar navbar-site navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button"> <span class="sr-only">Ava</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a href="{{path('default_homepage')}}" class="navbar-brand logo logo-title"> 
          <!-- Original Logo will be placed here  --> 
          <span class="logo-icon"><i class="icon icon-search-1 ln-shadow-logo shape-0"></i> </span> Avalie - <span> me</span> </a> </div>
        <div class="navbar-collapse collapse">
          
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{path('logout')}}">Sair <i class="glyphicon glyphicon-off"></i> </a></li>
            <!-- <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <span>nome usuaio</span> <i class="icon-user fa"></i> <i class=" icon-down-open-big fa"></i></a>
              <ul class="dropdown-menu user-menu">
                <li class="active"><a href="account-home.html"><i class="icon-home"></i> Personal Home </a></li>
                
                <li><a href="account-myads.html"><i class="icon-th-thumb"></i> My ads </a></li>
                <li><a href="account-favourite-ads.html"><i class="icon-heart"></i> Favourite ads </a></li>
                <li><a href="account-saved-search.html"><i class="icon-star-circled"></i> Saved search </a></li>
                <li><a href="account-archived-ads.html"><i class="icon-folder-close"></i> Archived ads </a></li>
                <li><a href="account-pending-approval-ads.html"><i class="icon-hourglass"></i> Pending approval </a></li>
                <li><a href="statements.html"><i class=" icon-money "></i> Payment history </a></li>
              </ul>
            </li> -->
            <!-- <li class="postadd"><a class="btn btn-block   btn-border btn-post btn-danger" href="post-ads.html">Incluir Anuncio</a></li> -->
            <li class="postadd"><a class="btn btn-block   btn-border btn-post btn-danger" href="">Incluir Anuncio</a></li>
          </ul>
        </div>
        <!--/.nav-collapse --> 
      </div>
      <!-- /.container-fluid --> 
    </nav>
  </div>
  <!-- /.header -->
  
  <div class="main-container">
    <div class="container">
    	{% block body %}{% endblock %}
      
      <!--/.row--> 
    </div>
    <!--/.container--> 
  </div>
  <!-- /.main-container -->
  
  <div class="footer" id="footer">
    <div class="container">
      <!-- <ul class=" pull-left navbar-link footer-nav">
        <li><a href="index.html"> Home </a> <a href="about-us.html"> About us </a> <a href="#"> Terms and Conditions </a> <a href="#"> Privacy Policy </a> <a href="contact.html"> Contact us </a> <a href="faq.html"> FAQ </a>
      </ul> -->
      <ul class=" pull-right navbar-link footer-nav">
        <li> &copy; 2018 Avalie-me </li>
      </ul>
    </div>
    
  </div>
  <!--/.footer--> 
</div>
<!-- /.wrapper --> <!-- Le javascript
================================================== --> 

<!-- Placed at the end of the document so the pages load faster --> 
<script src="{{asset('bundles/default/js/jquery-1.10.1.min.js')}}"> </script>
<script src="{{asset('bundles/default/theme/assets/bootstrap/js/bootstrap.min.js')}}"></script> 

<!-- include carousel slider plugin  --> 
<script src="{{asset('bundles/default/theme/assets/js/owl.carousel.min.js')}}"></script>


<!-- include equal height plugin  -->
<script src="{{asset('bundles/default/theme/assets/js/jquery.matchHeight-min.js')}}"></script>

<!-- include jquery list shorting plugin plugin  -->
<script src="{{asset('bundles/default/theme/assets/js/hideMaxListItem.js')}}"></script>

<!-- include jquery.fs plugin for custom scroller and selecter  --> 
<script src="{{asset('bundles/default/theme/assets/plugins/jquery.fs.scroller/jquery.fs.scroller.js')}}"></script>
<script src="{{asset('bundles/default/theme/assets/plugins/jquery.fs.selecter/jquery.fs.selecter.js')}}"></script>
<!-- include custom script for site  --> 
<script src="{{asset('bundles/default/theme/assets/js/script.js')}}"></script>
<script src="{{asset('bundles/default/theme/assets/js/footable.js?v=2-0-1')}}" type="text/javascript"></script> 
<script src="{{asset('bundles/default/theme/assets/js/footable.filter.js?v=2-0-1')}}" type="text/javascript"></script> 
<script type="text/javascript">
  $(function () {
    $('#addManageTable').footable().bind('footable_filtering', function (e) {
      var selected = $('.filter-status').find(':selected').text();
      if (selected && selected.length > 0) {
        e.filter += (e.filter && e.filter.length > 0) ? ' ' + selected : selected;
        e.clear = !e.filter;
      }
    });

    $('.clear-filter').click(function (e) {
      e.preventDefault();
      $('.filter-status').val('');
      $('table.demo').trigger('footable_clear_filter');
    });
   
  });
</script> 
<script src="{{asset('bundles/default/js/cep.js')}}"></script>
<script>
	function setValues(values){
		$('#plugged_defaultbundle_usuario_endereco').val(values.address);
		$('#plugged_defaultbundle_usuario_cidade').val(values.city);
		$('#plugged_defaultbundle_usuario_estado').val(values.state);
		$('#plugged_defaultbundle_usuario_numero').focus();
	}
	
</script>
</body>
</html>






