{% extends 'DefaultBundle:Template:login.html.twig' %}

{% block title %}
    Login{{ parent() }}
{% endblock %}

{% block body %}






<div class="row">
        <div class="col-sm-5 login-box">
          <div class="panel panel-default">
            <div class="panel-intro text-center">
              <h2 class="logo-title"> 
                <!-- Original Logo will be placed here  --> 
                <span class="logo-icon"><i class="icon icon-search-1 ln-shadow-logo shape-0"></i> </span> Avalie - <span> me</span> </h2>
            </div>
            <div class="panel-body ">
              <form action="{{ path("login_check") }}" method="post" class="form-horizontal validar-formulario" role="form">
            <div class="text-center margin-bottom">
                <!-- logotipo -->
                      <!-- <img src="{{ asset('bundles/layout/img/bombeiro.png')}}" alt="Logotipo" width="150px"> -->
                <!-- ./logotipo -->
            </div>
            {% if error %}
                <div class='alert alert-icon alert-danger'>{{ error.message|trans }}</div>
            {% endif %}

            {% set message = app.session.flashbag.get('message') %}
            {% if message %}
                <div class='alert alert-icon alert-danger'>{{ message[0]|trans }}</div>
            {% endif %}
            <div class="form-group col-sm-12">
                <label class=" control-label">Usuário</label>

                <input type="text" name="_username" value="{{ last_username }}" class="form-control" data-rule-required="true" placeholder="Usuário">

            </div>
            <div class="form-group col-sm-12">
                <label class=" control-label">Senha</label>

                <input type="password" name="_password" class="form-control" data-rule-required="true" placeholder="Password">

            </div>

            


            <div class="form-group col-sm-12">
                <div class="col-md-12" style="margin-left:-14px">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-unlock-alt"></i> &nbsp;Entrar</button>
                </div>
            </div>
        </form>
            </div>
            <div class="panel-footer">

              
            </div>
          </div>
          <div class="login-box-btm text-center">
            <p> Não tem cadastro? <br>
              <a href="{{path('cadastre_se')}}"><strong>Cadastre-se!</strong> </a> </p>
          </div>
        </div>
      </div>



    
{% endblock %}
