{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ProfissionalEmpresa list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Profissionalid</th>
                <th>Empresaid</th>
                <th>Tempotrabalhado</th>
                <th>Datasaida</th>
                <th>Isatual</th>
                <th>Datacadastro</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('profissionalempresa_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.profissionalId }}</td>
                <td>{{ entity.empresaId }}</td>
                <td>{{ entity.tempoTrabalhado }}</td>
                <td>{% if entity.dataSaida %}{{ entity.dataSaida|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.isAtual }}</td>
                <td>{% if entity.dataCadastro %}{{ entity.dataCadastro|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.status }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('profissionalempresa_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('profissionalempresa_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('profissionalempresa_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
