{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ProfissionalEmpresa</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Profissionalid</th>
                <td>{{ entity.profissionalId }}</td>
            </tr>
            <tr>
                <th>Empresaid</th>
                <td>{{ entity.empresaId }}</td>
            </tr>
            <tr>
                <th>Tempotrabalhado</th>
                <td>{{ entity.tempoTrabalhado }}</td>
            </tr>
            <tr>
                <th>Datasaida</th>
                <td>{{ entity.dataSaida|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Isatual</th>
                <td>{{ entity.isAtual }}</td>
            </tr>
            <tr>
                <th>Datacadastro</th>
                <td>{{ entity.dataCadastro|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('profissionalempresa') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('profissionalempresa_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
