{% extends 'DefaultBundle:Template:busca.html.twig' %}

{% block body -%}
	<div class="row">
		<div class="col-sm-3 page-sidebar">
			<aside>
				<div class="inner-box">
					{% include 'DefaultBundle:Template:_admin/sidebar.html.twig' with {'empresa': empresa, 'page':'quiz'}%}
				</div>
				<!-- /.inner-box  -->

			</aside>
		</div>
		<!--/.page-sidebar-->

		<div class="col-sm-9 page-content">

			<div class="inner-box">
				<div id="accordion" class="panel-group">

					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title"><a href="#collapseB1" data-toggle="collapse"> Editar Pergunta </a></h4>
						</div>
						<div class="panel-collapse collapse in" id="collapseB1">
							<div class="panel-body">
								<div class="tab-content">
									<div class="tab-pane active" id="allAds">
										{{form_start(form)}}

										<div class="col-sm-12">
											<div class="form-group">
												{{form_label(form.empresaId)}}
												{{form_widget(form.empresaId)}}
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group">
												{{form_label(form.pergunta)}}
												{{form_widget(form.pergunta)}}
											</div>
										</div>
										<div class="col-sm-12">
											<div class="form-group">
												{{form_label(form.status)}}
												{{form_widget(form.status)}}
											</div>
										</div>




										<div class="col-sm-12">
											<div class="form-group">
												<button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i> Cadastrar</button>
											</div>
										</div>

										{{form_end(form)}}


										<div class="col-sm-12">

											<legend class="title">
												<h4>Respostas da pergunta <div class=" pull-right"><a href="{{path("resposta_new",{id:entity.id})}}" class="btn btn-xs btn-info"><i class="fa fa-plus"></i> nova</a></div></h4>
											</legend>
											<table class="table data-table">
												<theady>
													<tr>
														<th>Resposta</th>
														<th>qtd resp</th>
														<th>Status</th>


														<th class="pull-right">Ação</th>
													</tr>
												</theady>
												<tbody>

													{% for resposta in respostas %}
													<tr>
														<td>{{resposta.resposta}}</td>
														
														<td>
															{{resposta.quantidade}}
														</td>

														<td>{{resposta.status|Status}}</td>

														<td>
															<a href="{{path("resposta_delete",{id:resposta.id})}}" class="btn btn-danger btn-sm pull-right"><i class="fa fa-trash"></i> excluir</a>
														</td>
													</tr>
													{% endfor %}

												</tbody>
											</table>
										</div>


										</div>
										<div class="tab-pane" id="businessAds"></div>
										<div class="tab-pane" id="personalAds"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--/.row-box End-->

				</div>
			</div>
			<!--/.page-content-->
		</div>
	{% endblock %}