{% extends 'DefaultBundle:Template:busca.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col-sm-3 page-sidebar">
        <aside>
            <div class="inner-box">
                {% include 'DefaultBundle:Template:_admin/sidebar.html.twig' with {'empresa': empresa, 'page':'quiz'}%}
            </div>
            <!-- /.inner-box  -->

        </aside>
    </div>
    <!--/.page-sidebar-->

    <div class="col-sm-9 page-content">

        <div class="inner-box">
            <div id="accordion" class="panel-group">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a href="#collapseB1" data-toggle="collapse"> Empresa - {{empresa.nome}} </a></h4>
                    </div>
                    <div class="panel-collapse collapse in" id="collapseB1">
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="allAds">
                                    <div class="col-sm-12">
                                        <legend class="title"><h4>Quiz <a class="btn btn-primary btn-sm pull-right" href="{{path('quiz_new')}}"><i class="fa fa-plus"></i> Novo</a>
                                            </h4>
                                            
                                        </legend>
                                        
                                        <table class="table data-table">
                                            <tr>
                                                <th>Pergunta</th>
                                                <th>Status</th>

                                                <th>Data</th>
                                                
                                                
                                                <th class="pull-right">Ação</th>
                                            </tr>
                                            
                                            {% for entity in entities %}
                                            <tr>
                                                <td>{{entity.pergunta}}</td>
                                                <td>{{entity.status|Status}}</td>

                                                <td>{{entity.data|date("d/m/Y H:i")}}</td>

                                                <td class="pull-right">
                                                    <div class="btn-group">
                                                        <a href="{{path('quiz_edit',{id:entity.id})}}" class="btn btn-primary btn-sm "><i class="fa fa-edit"></i> Editar </a>
                                                        
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                        </table>
                                        
                                    </div>

                                    
                                </div>
                                <div class="tab-pane" id="businessAds"></div>
                                <div class="tab-pane" id="personalAds"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.row-box End-->

        </div>
    </div>
    <!--/.page-content-->
</div>
{% endblock %}