{% extends '::base.html.twig' %}

{% block body -%}
    <h1>EquipeProfissional</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Equipeid</th>
                <td>{{ entity.equipeId }}</td>
            </tr>
            <tr>
                <th>Profissionalid</th>
                <td>{{ entity.profissionalId }}</td>
            </tr>
            <tr>
                <th>Empresaid</th>
                <td>{{ entity.empresaId }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Datacadastro</th>
                <td>{{ entity.dataCadastro|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('equipeprofissional') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('equipeprofissional_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
