{% extends 'DefaultBundle:Template:busca.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col-sm-3 page-sidebar">
        <aside>
            <div class="inner-box">
                <div class="user-panel-sidebar">
                    <div class="collapse-box">
                        <h5 class="collapse-title no-border"> Posição Atual <a href="#MyClassified" data-toggle="collapse" class="pull-right"><i class="fa fa-angle-down"></i></a></h5>
                        <div class="panel-collapse collapse in" id="MyClassified">
                            <ul class="acc-list">
                                <li>
                                    <a class="active" href="javascript:void(0)"><i class="icon-home"></i> Nota 8.5 / 1º Posição </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- /.collapse-box  -->
                    <div class="collapse-box">
                        <h5 class="collapse-title"> Ranking <a href="#MyAds" data-toggle="collapse" class="pull-right"><i class="fa fa-angle-down"></i></a></h5>
                        <div class="panel-collapse collapse in" id="MyAds">
                            <ul class="acc-list">
                                <li>
                                    <a href="account-myads.html"><i class="icon-docs"></i> Visualizar ranking  </a>
                                </li>
                                

                            </ul>
                        </div>
                    </div>
                    <!-- /.collapse-box  -->

                    
                    <!-- /.collapse-box  -->
                </div>
            </div>
            <!-- /.inner-box  -->

        </aside>
    </div>
    <!--/.page-sidebar-->

    <div class="col-sm-9 page-content">
        <div class="inner-box">
            <div class="row">
                <div class="col-md-5 col-xs-4 col-xxs-12">
                    <h3 class="no-padding text-center-480 useradmin"><a href=""><img class="userImg" src="{{asset('bundles/default/theme/images/user.jpg')}}" alt="user"> Jhon Doe </a></h3>
                </div>
                <div class="col-md-7 col-xs-8 col-xxs-12">
                    <div class="header-data text-center-xs">

                        <!-- Traffic data -->
                        <div class="hdata">
                            <div class="mcol-left">
                                <!-- Icon with red background -->
                                <i class="fa fa-eye ln-shadow"></i>
                            </div>
                            <div class="mcol-right">
                                <!-- Number of visitors -->
                                <p>
                                    <a href="#">7000</a><em>visits</em>
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <!-- revenue data -->
                        <div class="hdata">
                            <div class="mcol-left">
                                <!-- Icon with green background -->
                                <i class="icon-th-thumb ln-shadow"></i>
                            </div>
                            <div class="mcol-right">
                                <!-- Number of visitors -->
                                <p>
                                    <a href="#">12</a><em>Ads</em>
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                        <!-- revenue data -->
                        <div class="hdata">
                            <div class="mcol-left">
                                <!-- Icon with blue background -->
                                <i class="fa fa-user ln-shadow"></i>
                            </div>
                            <div class="mcol-right">
                                <!-- Number of visitors -->
                                <p>
                                    <a href="#">18</a><em>Favorites </em>
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="inner-box">
            <div class="welcome-msg">
                <h3 class="page-sub-header2 clearfix no-padding">Hello Jhon Doe </h3>
                <span class="page-sub-header-sub small">You last logged in at: 01-01-2014 12:40 AM [UK time (GMT + 6:00hrs)]</span>
            </div>
            <div id="accordion" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a href="#collapseB1" data-toggle="collapse"> Duo - Avaliação Mês de Março/2018 </a></h4>
                    </div>
                    <div class="panel-collapse collapse in" id="collapseB1">
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="allAds">
                                    
                                    
                                    <div class="item-list make-compact">
                                        <div class="cornerRibbons topAds">
                                            <a href="#"> Top Ads</a>
                                        </div>

                                        <div class="col-sm-1 no-padding photobox">
                                            <div class="add-image">
                                                <span class="photo-count"><i class="fa fa-camera"></i> 2 </span><a href="ads-details.html"><img class="thumbnail no-margin" src="images/item/tp/Image00015.jpg" alt="img"></a>
                                            </div>
                                        </div>
                                        <!--/.photobox-->
                                        <div class="add-desc-box col-sm-9">
                                            <div class="add-details">
                                                <h5 class="add-title"><a href="ads-details.html"> Pontualidade </a></h5>
                                                <span class="info-row"> <span class="add-type business-ads tooltipHere" data-toggle="tooltip" data-placement="right" title="Business Ads">B </span> <span class="date"><i class=" icon-clock"> </i> Today 1:21 pm </span> </span>
                                            </div>
                                        </div>
                                        <!--/.add-desc-box-->
                                        <div class="col-sm-3 text-right  price-box">
                                            <h2 class="item-price"> $ 320 </h2>
                                            <a class="btn btn-danger  btn-sm make-favorite"> <i class="fa fa-certificate"></i> <span>Top Ads</span> </a><a class="btn btn-default  btn-sm make-favorite"> <i class="fa fa-heart"></i> <span>Save</span> </a>
                                        </div>
                                        <!--/.add-desc-box-->
                                    </div>
                                    <!--/.item-list-->

                                    <div class="item-list make-compact">
                                        <div class="cornerRibbons featuredAds">
                                            <a href="#"> Featured Ads</a>
                                        </div>

                                        <div class="col-sm-2 no-padding photobox">
                                            <div class="add-image">
                                                <span class="photo-count"><i class="fa fa-camera"></i> 2 </span><a href="ads-details.html"><img class="thumbnail no-margin" src="images/item/tp/Image00008.jpg" alt="img"></a>
                                            </div>
                                        </div>
                                        <!--/.photobox-->
                                        <div class="add-desc-box col-sm-9">
                                            <div class="add-details">
                                                <h5 class="add-title"><a href="ads-details.html"> Comprometimento </a></h5>
                                                <span class="info-row"> <span class="add-type business-ads tooltipHere" data-toggle="tooltip" data-placement="right" title="Business Ads">B </span> <span class="date"><i class=" icon-clock"> </i> Today 1:21 pm </span>  </span>
                                            </div>
                                        </div>
                                        <!--/.add-desc-box-->
                                        <div class="col-sm-3 text-right  price-box">
                                            <h2 class="item-price"> $ 250 </h2>
                                            <a class="btn btn-danger  btn-sm make-favorite"> <i class="fa fa-certificate"></i> <span>Featured Ads</span> </a><a class="btn btn-default  btn-sm make-favorite"> <i class="fa fa-heart"></i> <span>Save</span> </a>
                                        </div>
                                        <!--/.add-desc-box-->
                                    </div>

                                    <!--/.item-list-->
                                    <div class="item-list make-compact">
                                        <div class="cornerRibbons urgentAds">
                                            <a href="#"> Urgent</a>
                                        </div>
                                        <div class="col-sm-2 no-padding photobox">
                                            <div class="add-image">
                                                <span class="photo-count"><i class="fa fa-camera"></i> 2 </span><a href="ads-details.html"><img class="thumbnail no-margin" src="images/item/tp/Image00014.jpg" alt="img"></a>
                                            </div>
                                        </div>
                                        <!--/.photobox-->
                                        <div class="add-desc-box col-sm-9">
                                            <div class="add-details">
                                                <h5 class="add-title"><a href="ads-details.html"> Pontuação Sprint</a></h5>
                                                <span class="info-row"> <span class="add-type business-ads tooltipHere" data-toggle="tooltip" data-placement="right" title="Business Ads">B </span> <span class="date"><i class=" icon-clock"> </i> Today 1:21 pm </span>  </span>
                                            </div>
                                        </div>
                                        <!--/.add-desc-box-->
                                        <div class="col-sm-3 text-right  price-box">
                                            <h2 class="item-price"> $ 230</h2>
                                            <a class="btn btn-danger  btn-sm make-favorite"> <i class="fa fa-certificate"></i> <span>Urgent</span> </a><a class="btn btn-default  btn-sm make-favorite"> <i class="fa fa-heart"></i> <span>Save</span> </a>
                                        </div>
                                        <!--/.add-desc-box-->
                                    </div>

                                    <!--/.item-list-->
                                </div>
                                <div class="tab-pane" id="businessAds"></div>
                                <div class="tab-pane" id="personalAds"></div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a href="#collapseB2" data-toggle="collapse"> Duo - Avaliação Mês de Fevereiro/2018 </a></h4>
                    </div>
                    <div class="panel-collapse collapse " id="collapseB2">
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="allAds">
                                    
                                    
                                    <div class="item-list make-compact">
                                        <div class="cornerRibbons topAds">
                                            <a href="#"> Top Ads</a>
                                        </div>

                                        <div class="col-sm-1 no-padding photobox">
                                            <div class="add-image">
                                                <span class="photo-count"><i class="fa fa-camera"></i> 2 </span><a href="ads-details.html"><img class="thumbnail no-margin" src="images/item/tp/Image00015.jpg" alt="img"></a>
                                            </div>
                                        </div>
                                        <!--/.photobox-->
                                        <div class="add-desc-box col-sm-9">
                                            <div class="add-details">
                                                <h5 class="add-title"><a href="ads-details.html"> Pontualidade </a></h5>
                                                <span class="info-row"> <span class="add-type business-ads tooltipHere" data-toggle="tooltip" data-placement="right" title="Business Ads">B </span> <span class="date"><i class=" icon-clock"> </i> Today 1:21 pm </span> </span>
                                            </div>
                                        </div>
                                        <!--/.add-desc-box-->
                                        <div class="col-sm-3 text-right  price-box">
                                            <h2 class="item-price"> $ 320 </h2>
                                            <a class="btn btn-danger  btn-sm make-favorite"> <i class="fa fa-certificate"></i> <span>Top Ads</span> </a><a class="btn btn-default  btn-sm make-favorite"> <i class="fa fa-heart"></i> <span>Save</span> </a>
                                        </div>
                                        <!--/.add-desc-box-->
                                    </div>
                                    <!--/.item-list-->

                                    <div class="item-list make-compact">
                                        <div class="cornerRibbons featuredAds">
                                            <a href="#"> Featured Ads</a>
                                        </div>

                                        <div class="col-sm-2 no-padding photobox">
                                            <div class="add-image">
                                                <span class="photo-count"><i class="fa fa-camera"></i> 2 </span><a href="ads-details.html"><img class="thumbnail no-margin" src="images/item/tp/Image00008.jpg" alt="img"></a>
                                            </div>
                                        </div>
                                        <!--/.photobox-->
                                        <div class="add-desc-box col-sm-9">
                                            <div class="add-details">
                                                <h5 class="add-title"><a href="ads-details.html"> Comprometimento </a></h5>
                                                <span class="info-row"> <span class="add-type business-ads tooltipHere" data-toggle="tooltip" data-placement="right" title="Business Ads">B </span> <span class="date"><i class=" icon-clock"> </i> Today 1:21 pm </span>  </span>
                                            </div>
                                        </div>
                                        <!--/.add-desc-box-->
                                        <div class="col-sm-3 text-right  price-box">
                                            <h2 class="item-price"> $ 250 </h2>
                                            <a class="btn btn-danger  btn-sm make-favorite"> <i class="fa fa-certificate"></i> <span>Featured Ads</span> </a><a class="btn btn-default  btn-sm make-favorite"> <i class="fa fa-heart"></i> <span>Save</span> </a>
                                        </div>
                                        <!--/.add-desc-box-->
                                    </div>

                                    <!--/.item-list-->
                                    <div class="item-list make-compact">
                                        <div class="cornerRibbons urgentAds">
                                            <a href="#"> Urgent</a>
                                        </div>
                                        <div class="col-sm-2 no-padding photobox">
                                            <div class="add-image">
                                                <span class="photo-count"><i class="fa fa-camera"></i> 2 </span><a href="ads-details.html"><img class="thumbnail no-margin" src="images/item/tp/Image00014.jpg" alt="img"></a>
                                            </div>
                                        </div>
                                        <!--/.photobox-->
                                        <div class="add-desc-box col-sm-9">
                                            <div class="add-details">
                                                <h5 class="add-title"><a href="ads-details.html"> Pontuação Sprint</a></h5>
                                                <span class="info-row"> <span class="add-type business-ads tooltipHere" data-toggle="tooltip" data-placement="right" title="Business Ads">B </span> <span class="date"><i class=" icon-clock"> </i> Today 1:21 pm </span>  </span>
                                            </div>
                                        </div>
                                        <!--/.add-desc-box-->
                                        <div class="col-sm-3 text-right  price-box">
                                            <h2 class="item-price"> $ 230</h2>
                                            <a class="btn btn-danger  btn-sm make-favorite"> <i class="fa fa-certificate"></i> <span>Urgent</span> </a><a class="btn btn-default  btn-sm make-favorite"> <i class="fa fa-heart"></i> <span>Save</span> </a>
                                        </div>
                                        <!--/.add-desc-box-->
                                    </div>

                                    <!--/.item-list-->
                                </div>
                                <div class="tab-pane" id="businessAds"></div>
                                <div class="tab-pane" id="personalAds"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.row-box End-->

        </div>
    </div>
    <!--/.page-content-->
</div>
{% endblock %}