{% extends 'DefaultBundle:Template:busca.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col-sm-3 page-sidebar">
        <aside>
            <div class="inner-box">
                {% include 'DefaultBundle:Template:_admin/sidebar.html.twig' with {'empresa': empresa, 'page':'profissional'}%}
            </div>
            <!-- /.inner-box  -->

        </aside>
    </div>
    <!--/.page-sidebar-->

    <div class="col-sm-9 page-content">

        <div class="inner-box">

        <div class="col-sm-12">
            
            <table class="table data-table">
                <tr>
                    <th>Profissional</th>
                    <th class="pull-right">Ação</th>
                </tr>
                
                {% for profissional in profissionais %}
                <tr>
                    <td>{{profissional.profissionalId.nome}}</td>
                    <td>
                        <a href="{{path('equipeprofissional_delete',{id:profissional.id})}}" class="btn btn-danger btn-sm pull-right"><i class="fa fa-trash"></i> excluir</a>
                    </td>
                </tr>
                {% endfor %}

            </table>
            
        </div>

                               
                                
                
            <!--/.row-box End-->

        </div>
    </div>
    <!--/.page-content-->
</div>
{% endblock %}