{% extends 'DefaultBundle:Template:busca.html.twig' %}

{% block body -%}

<div class="row allContent">
	<div class="col-sm-3 page-sidebar">
		<aside>
			<form role="form" class="form-inline " id="pesquisa">
				<div class="inner-box">

					<!--/.categories-list-->

					<!--/.locations-list-->

					<div class="locations-list  list-filter">
						<h5 class="list-title"><strong><a href="#">Veículo</a></strong></h5>

						<div class="form-group">
							<div class="col-md-9 no-padding">
								<label>marca</label>
								<input type="text" placeholder="Marca " id="marca" class="form-control">
							</div>
							<div class="form-group col-sm-3 no-padding " style="margin-top: 26px">

								<button class="btn btn-primary pull-right buscar" type="button">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-9 no-padding">
								<label>modelo</label>
								<input type="text" placeholder="Modelo" id="modelo" class="form-control">
							</div>
							<div class="form-group col-sm-3 no-padding " style="margin-top: 26px">

								<button class="btn btn-primary pull-right buscar" type="button">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-9 no-padding">
								<label>motor</label>
								<input type="text" placeholder="Motor " id="motor" class="form-control">
							</div>
							<div class="form-group col-sm-3 no-padding " style="margin-top: 26px">

								<button class="btn btn-primary pull-right buscar" type="button">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>

						<div style="clear:both"></div>
					</div><!--/.list-filter-->

					<div class="locations-list  list-filter">
						<h5 class="list-title"><strong><a href="#">Preço</a></strong></h5>

						<div class="form-group col-sm-4 no-padding">
							<input type="text" placeholder="R$ 2000 " id="minPrice" class="form-control">
						</div>
						<div class="form-group col-sm-1 no-padding text-center">
							-
						</div>
						<div class="form-group col-sm-4 no-padding">
							<input type="text" placeholder="R$ 3000 " id="maxPrice" class="form-control">
						</div>
						<div class="form-group col-sm-3 no-padding">
							<button class="btn btn-primary pull-right buscar" type="button">
								<i class="fa fa-search"></i>
							</button>
						</div>

						<div style="clear:both"></div>
					</div><!--/.list-filter-->

					<div class="locations-list  list-filter">
						<h5 class="list-title"><strong><a href="#">Ano</a></strong></h5>

						<div class="form-group col-sm-4 no-padding">
							<input type="text" placeholder="1998 " id="minAno" class="form-control">
						</div>
						<div class="form-group col-sm-1 no-padding text-center">
							-
						</div>
						<div class="form-group col-sm-4 no-padding">
							<input type="text" placeholder="2016" id="maxAno" class="form-control">
						</div>
						<div class="form-group col-sm-3 no-padding">
							<button class="btn btn-primary pull-right buscar" type="button">
								<i class="fa fa-search"></i>
							</button>
						</div>

						<div style="clear:both"></div>
					</div><!--/.list-filter-->

					<div class="locations-list  list-filter">
						<h5 class="list-title"><strong><a href="#">KM</a></strong></h5>

						<div class="form-group col-sm-4 no-padding">
							<input type="text" placeholder="1.000 KM " id="minKm" class="form-control">
						</div>
						<div class="form-group col-sm-1 no-padding text-center">
							-
						</div>
						<div class="form-group col-sm-4 no-padding">
							<input type="text" placeholder="25.000 KM" id="maxKm" class="form-control">
						</div>
						<div class="form-group col-sm-3 no-padding">
							<button class="btn btn-primary pull-right buscar" type="button">
								<i class="fa fa-search"></i>
							</button>
						</div>

						<div style="clear:both"></div>
					</div><!--/.list-filter-->

					<div class="locations-list  list-filter">
						<h5 class="list-title"><strong><a href="#">Itens</a></strong></h5>
						<ul class="browse-list list-unstyled long-list">
							{% for atributo in atributes %}
							<li>
								<label style="min-width: 100%"><span class="pull-left">{{atributo.field}}</span>
									<input type="checkbox" class="checkbox-inline pull-right item" name="item[]" value="{{atributo.id}}">
								</label>
							</li>
							{% endfor %}
							

						</ul>
						<div class="form-group col-sm-12 no-padding">
							<button class="btn btn-primary buscar" type="button">
								<i class="fa fa-search"></i> BUSCAR
							</button>
						</div>
					</div><!--/.list-filter-->

					<div style="clear:both"></div>
				</div>
			</form>
			<!--/.categories-list-->
		</aside>
	</div>
	<!--/.page-side-bar-->
	<div class="col-sm-9 page-content col-thin-left">

		<div class="category-list">
			<div class="tab-box ">

				<!-- Nav tabs -->
				<ul class="nav nav-tabs add-tabs" id="ajaxTabs" role="tablist">
					<li class="active">
						<a href="#allAds" data-url="{{path('anuncio_itens')}}" role="tab" class="lojas" data-toggle="tab">Anúncios <span class="badge"></span></a>
					</li>
					<!-- <li>
						<a href="#businessAds" data-url="{{path('anuncio_itens')}}" role="tab" class="lojas" data-toggle="tab">Particular <span class="badge">22,805</span></a>
					</li> -->

				</ul>
				<div class="tab-filter">
					<select class="selectpicker" data-style="btn-select" data-width="auto">
						<option>Menor Preço</option>
						<option>Menor KM</option>
						<option>Recentes</option>

					</select>
				</div>
			</div>
			<!--/.tab-box-->

			<div class="listing-filter">
				<div class="pull-left col-xs-6">

				</div>
				<div class="pull-right col-xs-6 text-right listing-view-action">
					<span class="list-view active"><i class="  icon-th"></i></span><span class="compact-view"><i class=" icon-th-list  "></i></span><span class="grid-view "><i class=" icon-th-large "></i></span>
				</div>
				<div style="clear:both"></div>
			</div>
			<!--/.listing-filter-->

			<div class="adds-wrapper">

				<div class="tab-content">
					<div class="tab-pane active" id="allAds">
						This is the home pane...
					</div>
					<div class="tab-pane" id="businessAds"></div>

				</div>

			</div>
			<!--/.adds-wrapper-->
		</div>
		<!-- <div class="pagination-bar text-center">
			<ul class="pagination">
				<li  class="active">
					<a href="#">1</a>
				</li>
				<li>
					<a href="#">2</a>
				</li>
				<li>
					<a href="#">3</a>
				</li>
				<li>
					<a href="#">4</a>
				</li>
				<li>
					<a href="#">5</a>
				</li>
				<li>
					<a href="#"> ...</a>
				</li>
				<li>
					<a class="pagination-btn" href="#">Next &raquo;</a>
				</li>
			</ul>
		</div> -->
		<!--/.pagination-bar -->
		<!--/.post-promo-->

	</div>
	<!--/.page-content-->

</div>
<script>
	var url = "{{path('anuncio_itens')}}";
</script>
<script src="{{asset('bundles/default/js/busca.js')}}"></script>
{% endblock %}