{% extends 'DefaultBundle:Template:busca.html.twig' %}

{% block body -%}

<div class="main-container">
    <div class="container">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 page-content col-thin-right">
          <div class="inner inner-box ads-details-wrapper">
            <h2> {{entity.nome}} <small class="label label-default adlistingtype"> {{entity.cambio}} - {{entity.cilindrada}} - {{entity.combustivel}} - KM - {{entity.kilometragem}}</small> </h2>
            <span class="info-row"> <span class="date"><i class=" icon-clock"> </i> {{entity.data|date('d/m/Y')}}</span> - <span class="category">{{entity.usuarioId.cidade}} </span>- <span class="item-location"><i class="fa fa-map-marker"></i> {{entity.usuarioId.estado}} </span> </span>
            <div class="ads-image">
              <h1 class="pricetag"> R$ {{entity.precoTotal}}</h1>
              <ul class="bxslider">
                {% for foto in entity.fotos %}
                <li><img src="{{asset('bundles/default/images/'~foto.foto)}}" alt="img" /></li>
                {% endfor %}
              </ul>
              <div id="bx-pager">
              	{% set cont = 0 %}
              	{% for foto in entity.fotos %}
                <a class="thumb-item-link" data-slide-index="{{cont}}" href=""><img src="{{asset('bundles/default/images/thumbs/'~foto.foto)}}" alt="img" /></a>
                {% set cont  = cont + 1 %}
                {% endfor %}
              </div>
            </div>
            <!--ads-image-->
            
            <div class="Ads-Details">
              <h5 class="list-title"><strong>{{entity.nome}} {{entity.cambio}} - {{entity.cilindrada}} - {{entity.combustivel}} - KM - {{entity.kilometragem}}</strong></h5>
              <div class="row">
                <div class="ads-details-info col-md-8">
                  <p>{{entity.descricao}}</p>
                  <h4>Itens</h4>
                  <ul class="list-circle">
                    {% for atributo in entity.atributo %}
                    <li>{{atributo.field}}</li>
                    {% endfor %}
                  </ul>
                  
                </div>
                <div class="col-md-4">
                  <aside class="panel panel-body panel-details">
                    <ul>
                      <li>
                        <p class=" no-margin "><strong>Preço:</strong> R$ {{entity.precoTotal}}</p>
                      </li>
                      <li>
                        <p class="no-margin"><strong>Localização:</strong> {{entity.usuarioId.cidade}} - {{entity.usuarioId.estado}} </p>
                      </li>
                      <li>
                        <p class=" no-margin "><strong>KM:</strong> {{entity.kilometragem}}</p>
                      </li>
                      
                    </ul>
                  </aside>
                  <div class="ads-action">
                    <!-- <ul class="list-border">
                      <li><a  href="#" > <i class=" fa fa-user"></i> More ads by User </a> </li>
                      <li><a  href="#" > <i class=" fa fa-heart"></i> Save ad </a> </li>
                      <li><a  href="#" > <i class="fa fa-share-alt"></i> Share ad </a> </li>
                      <li><a   href="#reportAdvertiser" data-toggle="modal"> <i class="fa icon-info-circled-alt"></i> Report abuse </a> </li>
                    </ul> -->
                  </div>
                </div>
              </div>
              <div class="content-footer text-left"> 
              	<a class="btn  btn-default" data-toggle="modal" href="#contactAdvertiser"><i class=" icon-mail-2"></i> Entre em contato </a> 
              	<a class="btn  btn-info" ><i class=" icon-phone-1"></i> {{entity.usuarioId.telefone}} </a> </div>
            </div>
          </div>
          <!--/.ads-details-wrapper--> 
          
        </div>
        <!--/.page-content-->
        
        <div class="col-sm-3  page-sidebar-right">
          <aside>
            <div class="panel sidebar-panel panel-contact-seller">
              <div class="panel-heading">Entre em Contato</div>
              <div class="panel-content user-info">
                <div class="panel-body text-center">
                  <div class="seller-info">
                    <h3 class="no-margin">{{entity.usuarioId.nome}}</h3>
                    <p>Local: <strong>{{entity.usuarioId.cidade}} - {{entity.usuarioId.estado}}</strong></p>
                    <p> Desde: <strong>{{entity.usuarioId.data|date('m/Y')}}</strong></p>
                  </div>
                  <div class="user-ads-action"> 
                  	<a href="#contactAdvertiser" data-toggle="modal" class="btn   btn-default btn-block"><i class=" icon-mail-2"></i> Entre em contato </a> 
                  	<a class="btn  btn-info btn-block"><i class=" icon-phone-1"></i> {{entity.usuarioId.telefone}}</a> </div>
                </div>
              </div>
            </div>
            <div class="panel sidebar-panel">
              <div class="panel-heading"></div>
              <div class="panel-content">
                <div class="panel-body text-left">
                  
                </div>
              </div>
            </div>
            <!--/.categories-list--> 
          </aside>
        </div>
        <!--/.page-side-bar--> 
      </div>
    </div>
  </div>
  
  

<!-- /.modal --> 

<!-- Modal contactAdvertiser -->

<div class="modal fade" id="contactAdvertiser" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><i class=" icon-mail-2"></i> Contato </h4>
      </div>
      <div class="modal-body">
        <form role="form" action="{{path('send_message',{id:entity.id})}}" method="post">
          <div class="form-group">
            <label for="recipient-name" class="control-label">nome:</label>
            <input class="form-control required" name="nome" id="recipient-name" placeholder="Your name" data-placement="top" data-trigger="manual" data-content="Must be at least 3 characters long, and must only contain letters." type="text">
          </div>
          <div class="form-group">
            <label for="sender-email" class="control-label">E-mail:</label>
            <input id="sender-email" name="email" type="text" data-content="Must be a valid e-mail address (user@gmail.com)" data-trigger="manual" data-placement="top" placeholder="email@you.com" class="form-control email">
          </div>
          <div class="form-group">
            <label for="recipient-Phone-Number"  class="control-label">Telefone:</label>
            <input type="text"  maxlength="60" name="telefone" class="form-control" id="recipient-Phone-Number">
            <input type="hidden" name="ref"  maxlength="60" class="form-control" id="referencia" value="{{entity.id}}">
          
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Mensagem <span class="text-count">(300) </span>:</label>
            <textarea class="form-control" id="message-text" name="mensagem"  placeholder="Your message here.." data-placement="top" data-trigger="manual">
            	Olá, gostaria de mais informações sobre o anúncio {{entity.nome}} {{entity.cambio}} Motor {{entity.cilindrada}} 
            	
			</textarea>
          </div>
          <div class="form-group">
            <p class="help-block pull-left text-danger hide" id="form-error">&nbsp; The form is not valid. </p>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success pull-right">Enviar!</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="{{asset('bundles/default/theme/assets/js/owl.carousel.min.js')}}"></script> 

<!-- include equal height plugin  --> 
<script src="{{asset('bundles/default/theme/assets/js/jquery.matchHeight-min.js')}}"></script> 

<!-- include jquery list shorting plugin plugin  --> 
<script src="{{asset('bundles/default/theme/assets/js/hideMaxListItem.js')}}"></script> 

<!-- bxSlider Javascript file --> 
<script src="{{asset('bundles/default/theme/assets/plugins/bxslider/jquery.bxslider.min.js')}}"></script> 
<script>
$('.bxslider').bxSlider({
  pagerCustom: '#bx-pager'
});


</script> 
<!-- include form-validation plugin || add this script where you need validation   --> 
<script src="{{asset('bundles/default/theme/assets/js/form-validation.js')}}"></script> 
<!-- include jquery.fs plugin for custom scroller and selecter  --> 
<script src="{{asset('bundles/default/theme/assets/plugins/jquery.fs.scroller/jquery.fs.scroller.js')}}"></script>
<script src="{{asset('bundles/default/theme/assets/plugins/jquery.fs.selecter/jquery.fs.selecter.js')}}"></script>
<!-- include custom script for site  --> 
<script src="{{asset('bundles/default/theme/assets/js/script.js')}}"></script>
{% endblock %}