{% extends 'DefaultBundle:Template:default.html.twig' %}

{% block body -%}

{% if profissionais is defined and profissionais is iterable%}

  <div class="row panel">
  {% for profissional in profissionais %}

  {#<div class="card col-sm-4 page-content col-thin-right">
    <img src="http://api.14mob.com/bundles/default/uploads/{{profissional.profissionalId.foto}}" alt="John" style="width:100%">
    <h1>{{profissional.profissionalId.nome}}</h1>
    <p class="title">{{profissional.ocupacaoId.nome}}</p>
    <p>{{profissional.empresaId.nome}}</p>

    <p><a  class="button" href="{{path('default_profile',{nickname:profissional.profissionalId.nickname})}}">perfil</a></p>
  </div>#}

  <div class="item-list">


    <div class="col-sm-2 no-padding photobox">
      <div class="add-image">
        <span class="photo-count">
          <i class="fa fa-camera"></i> 1 </span>
          <a href="{{path('default_profile',{nickname: profissional.profissionalId.nickname})}}">
            <img class="thumbnail no-margin" src="http://api.14mob.com/bundles/default/uploads/{{profissional.profissionalId.foto}}" alt="img">
          </a>
      </div>
    </div>
    <!--/.photobox-->
    <div class="col-sm-7 add-desc-box">
  <div class="add-details">
    <h5 class="add-title"> <a href="{{path('default_profile',{nickname: profissional.profissionalId.nickname})}}">
      {{profissional.profissionalId.nome}} </a> </h5>
      <span class="info-row">
        <span class="date">
          <i class=" fa icon-clock"> </i> <b>Cargo:</b> {{profissional.ocupacaoId.nome}} <br/>
        </span> <span class="category"> <b>Empresa:</b> {{profissional.empresaId.nome}} </span>
      </span>
  </div>

    </div>
        <!--/.add-desc-box-->
        <div class="col-sm-3 text-right  price-box">
          <h2 class="item-price"> </h2>
          <a href="{{path('default_profile',{nickname: profissional.profissionalId.nickname})}}" class="btn btn-danger  btn-sm make-favorite">
            <i class="fa fa-certificate"></i> <span>Visualizar perfil</span>
          </a>

        </div>
          <!--/.add-desc-box-->
        </div>

  {% endfor %}
</div>
{% endif %}


<div class="row">
    <div class="col-sm-9 page-content col-thin-right">

        <div class="main-container inner-page">
            <div class="container">
                <div class="section-content">
                    <div class="row ">
                        <h1 class="text-center title-1"> Como provar o que você diz que faz? </h1>
                        <hr class="center-block small text-hr">
                        <div class="col-sm-6">
                            <div class="text-content has-lead-para text-left">
                                <p class="lead">
                                    Como seria se cada empregador soubesse ou tivesse acesso as suas reais competências, sem que você precisasse passar por um teste em que na maioria das vezes o nervosismo lhe atrapalha?
                                </p>
                                <p class="lead">
                                    Como seria para você empregador se sua equipe estivesse 100% do tempo motivada e produzindo além do esperado?
                                </p>
                                <p class="lead">
                                    Conseguimos em uma unica plataforma <strong>motivar</strong>, <strong>avaliar</strong> e <strong>disponibilizar</strong> dados sobre os funcionários de qualquer organização afim de extrair o melhor que sua empresa pode dar.


                                </p>

                            </div>
                        </div>
                        <div class="col-sm-6">
                            <img src="{{asset('bundles/default/theme/images/info.png')}}" alt="imfo" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}
