
{% for entity in entities %}
<div class="item-list">
	<div class="col-sm-2 no-padding photobox">
		<div class="add-image">
			<span class="photo-count"><i class="fa fa-camera"></i> {{entity.fotos|length}} </span>
			<a href="{{path('detalhe',{id:entity.id})}}" data-url="{{path('detalhe',{id:entity.id})}}" target="_blank" ><img class="thumbnail no-margin" src="{{asset('bundles/default/images/thumbs/'~entity.foto)}}" alt="img"></a>
		</div>
	</div>
	<!--/.photobox-->
	<div class="col-sm-7 add-desc-box">
		<div class="add-details">
			<h5 class="add-title"><a href="{{path('detalhe',{id:entity.id})}}" data-url="{{path('detalhe',{id:entity.id})}}" target="_blank" > {{entity.descricao}}</a></h5>
			<span class="info-row">  
				<span class="date"><i class=" icon-clock"> </i> {{entity.data|date('d/m/Y')}}</span>
				 - <span class="item-location"><i class="fa fa-map-marker"></i> {{entity.usuarioId.cidade}} - {{entity.usuarioId.estado}} </span> </span>
		</div>
	</div>
	<!--/.add-desc-box-->
	<div class="col-sm-3 text-right  price-box">
		<h2 class="item-price"> R$ {{entity.precoTotal}}</h2>
		<a class="btn btn-info  btn-sm make-favorite" href="{{path('detalhe',{id:entity.id})}})" target="_blank" data-url="{{path('detalhe',{id:entity.id})}}" > <i class="fa fa-eye"></i> <span>visualizar</span> </a>
	</div>
	<!--/.add-desc-box-->
</div>
{% endfor %}

{% if entities is empty %}
<div class="item-list">
	<div class="col-sm-12 no-padding photobox">
	Nenhum item encontrado!
	
	</div>
	<!--/.photobox-->
	
	<!--/.add-desc-box-->
</div>
{% endif %}


