{% extends 'DefaultBundle:Template:painel.html.twig' %}

{% block body -%}
<div class="row">
	<div class="col-sm-3 page-sidebar">
		<aside>
			<div class="inner-box">
				{% include 'DefaultBundle:Template:innerBox.html.twig'%}
				
			</div>
			<!-- /.inner-box  -->

		</aside>
	</div>
	<!--/.page-sidebar-->

	<div class="col-sm-9 page-content">
		<div class="inner-box">
			<div class="row">
				<div class="col-md-5 col-xs-4 col-xxs-12">
					{% if entity.foto is empty %}
						{% set foto = 'bundles/default/theme/images/user.jpg'%}
					{% else %}
						{% set foto = entity.foto %}
					{% endif %}
					<h3 class="no-padding text-center-480 useradmin"><a href=""><img class="userImg" src="{{asset(foto)}}" alt="user"> {{entity.nome}}</a></h3>
				</div>
				<div class="col-md-7 col-xs-8 col-xxs-12">
					<div class="header-data text-center-xs">

						<!-- Traffic data -->
						<div class="hdata">
							<div class="mcol-left">
								<!-- Icon with red background -->
								<i class="fa fa-eye ln-shadow"></i>
							</div>
							<div class="mcol-right">
								<!-- Number of visitors -->
								<p>
									<a href="#">7000</a><em>visitas</em>
								</p>
							</div>
							<div class="clearfix"></div>
						</div>

						<!-- revenue data -->
						<div class="hdata">
							<div class="mcol-left">
								<!-- Icon with green background -->
								<i class="icon-th-thumb ln-shadow"></i>
							</div>
							<div class="mcol-right">
								<!-- Number of visitors -->
								<p>
									<a href="#">12</a><em>Anuncios</em>
								</p>
							</div>
							<div class="clearfix"></div>
						</div>

						<!-- revenue data -->
						<div class="hdata">
							<div class="mcol-left">
								<!-- Icon with blue background -->
								<i class="fa fa-user ln-shadow"></i>
							</div>
							<div class="mcol-right">
								<!-- Number of visitors -->
								<p>
									<a href="#">18</a><em>Pendentes </em>
								</p>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="inner-box">
			<div class="welcome-msg">
				<h3 class="page-sub-header2 clearfix no-padding">Olá {{entity.nome}}</h3>
				<span class="page-sub-header-sub small">você tem <span class="badge">42</span> mensagens em seus anuncios</span>
			</div>
			<div id="accordion" class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a href="#collapseB1"  data-toggle="collapse"> Meus Dados </a></h4>
					</div>
					<div class="panel-collapse collapse in" id="collapseB1">
						<div class="panel-body">
							{{form_start(form)}}
								<div class="form-group">
									<label  class="col-sm-3 control-label">{{form_label(form.nome)}}</label>
									<div class="col-sm-9">
										{{form_widget(form.nome)}}
										{{form_errors(form.nome)}}
									</div>
								</div>
								<div class="form-group">
									<label  class="col-sm-3 control-label">{{form_label(form.email)}}</label>
									<div class="col-sm-9">
										{{form_widget(form.email)}}
										{{form_errors(form.email)}}
									</div>
								</div>
								<div class="form-group">
									<label  class="col-sm-3 control-label">{{form_label(form.telefone)}}</label>
									<div class="col-sm-9">
										{{form_widget(form.telefone)}}
										{{form_errors(form.telefone)}}
									</div>
								</div>
								<div class="form-group">
									<label  class="col-sm-3 control-label">{{form_label(form.nomeEmpresa)}}</label>
									<div class="col-sm-9">
										{{form_widget(form.nomeEmpresa)}}
										{{form_errors(form.nomeEmpresa)}}
									</div>
								</div>
								<div class="form-group">
									<label  class="col-sm-3 control-label">{{form_label(form.isEmpresa)}}</label>
									<div class="col-sm-9">
										{{form_widget(form.isEmpresa)}}
										{{form_errors(form.isEmpresa)}}
									</div>
								</div>
								<div class="form-group">
									<label  class="col-sm-3 control-label">{{form_label(form.cep)}}</label>
									<div class="col-sm-9">
										{{form_widget(form.cep)}}
										{{form_errors(form.cep)}}
									</div>
								</div>
								<div class="form-group">
									<label  class="col-sm-3 control-label">{{form_label(form.endereco)}}</label>
									<div class="col-sm-9">
										{{form_widget(form.endereco)}}
										{{form_errors(form.endereco)}}
									</div>
								</div>
								
								<div class="form-group">
									<label  class="col-sm-3 control-label">{{form_label(form.cidade)}}</label>
									<div class="col-sm-9">
										{{form_widget(form.cidade)}}
										{{form_errors(form.cidade)}}
									</div>
								</div>
								
								<div class="form-group">
									<label  class="col-sm-3 control-label">{{form_label(form.estado)}}</label>
									<div class="col-sm-9">
										{{form_widget(form.estado)}}
										{{form_errors(form.estado)}}
									</div>
								</div>
								
								<div class="form-group">
									<label  class="col-sm-3 control-label">{{form_label(form.numero)}}</label>
									<div class="col-sm-9">
										{{form_widget(form.numero)}}
										{{form_errors(form.numero)}}
									</div>
								</div>
								
								
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-9"></div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-9">
										<button type="submit" class="btn btn-primary">
											Atualizar
										</button>
									</div>
								</div>
							{{form_end(form)}}
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a href="#collapseB2"  data-toggle="collapse"> Trocar Senha </a></h4>
					</div>
					<div class="panel-collapse collapse" id="collapseB2">
						<div class="panel-body">
							<form class="form-horizontal" role="form">
								
								<div class="form-group">
									<label  class="col-sm-3 control-label">Usuário</label>
									<div class="col-sm-9">
										<input type="usuario" class="form-control"  placeholder="">
									</div>
								</div>
								<div class="form-group">
									<label  class="col-sm-3 control-label">Password</label>
									<div class="col-sm-9">
										<input type="password" class="form-control"  placeholder="">
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-9">
										<button type="submit" class="btn btn-danger">
											Atualizar
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				
			</div>
			<!--/.row-box End-->

		</div>
	</div>
	<!--/.page-content-->
</div>
{% endblock %}