{% extends 'DefaultBundle:Template:busca.html.twig' %}

{% block body -%}
<div class="row">
	<!--/.page-sidebar-->

	<div class="col-sm-8 page-content">

		<div class="inner-box">
			<div class="welcome-msg">
				<h2 class="title-2"><i class="icon-user-add"></i> Crie sua conta sem custo algum</h2>
			</div>
			<div id="accordion" class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title"><a href="#collapseB1"  data-toggle="collapse"> Meus Dados </a></h4>
					</div>
					<div class="panel-collapse collapse in" id="collapseB1">
						<div class="panel-body">
							{{form_start(form)}}
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group">
								<div class="col-sm-12">
								
										{{form_label(form.nome)}}
										{{form_widget(form.nome)}}
										{{form_errors(form.nome)}}
									</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-12">
									<div class="form-group">
										<div class="col-sm-12">
								
										{{form_label(form.email)}}
										{{form_widget(form.email)}}
										{{form_errors(form.email)}}
									</div></div>
								</div>
							</div>
							<div class="row ">
								<div class="col-md-3">
									<div class="form-group">
										<div class="col-sm-12">
								
										{{form_label(form.telefone)}}
										{{form_widget(form.telefone)}}
										{{form_errors(form.telefone)}}
									</div></div>
								</div>
								<div class="col-md-3">
									<div class="form-group">
										<div class="col-sm-12">
								
										{{form_label(form.isEmpresa)}}
										{{form_widget(form.isEmpresa)}}
										{{form_errors(form.isEmpresa)}}
									</div></div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<div class="col-sm-12">
								
										{{form_label(form.nomeEmpresa)}}
										{{form_widget(form.nomeEmpresa)}}
										{{form_errors(form.nomeEmpresa)}}
									</div></div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-3">
									<div class="form-group">
										<div class="col-sm-12">
								
										{{form_label(form.cep)}}
										{{form_widget(form.cep)}}
										{{form_errors(form.cep)}}
									</div></div>
								</div>
								<div class="col-sm-9">
									<div class="form-group">
										<div class="col-sm-12">
								
										{{form_label(form.endereco)}}
										{{form_widget(form.endereco)}}
										{{form_errors(form.endereco)}}
									</div></div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-4">
									<div class="form-group">
										<div class="col-sm-12">
								
										{{form_label(form.cidade)}}
										{{form_widget(form.cidade)}}
										{{form_errors(form.cidade)}}
									</div></div>
								</div>
								<div class="col-sm-4">
									<div class="form-group">
										<div class="col-sm-12">
								
										{{form_label(form.estado)}}
										{{form_widget(form.estado)}}
										{{form_errors(form.estado)}}
									</div></div>
								</div>
								<div class="col-sm-4">
									<div class="form-group">
										<div class="col-sm-12">
								
									{{form_label(form.numero)}}
									{{form_widget(form.numero)}}
									{{form_errors(form.numero)}}
									</div></div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<div class="col-sm-12">
								
									{{form_label(form.username)}}
									{{form_widget(form.username)}}
									{{form_errors(form.username)}}
									</div></div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<div class="col-sm-12">
								
									{{form_label(form.password)}}
									{{form_widget(form.password)}}
									{{form_errors(form.password)}}
									</div></div>
								</div>
							</div>
							
							
							<div class="form-group">
								<div class="col-sm-12">
									<button type="submit" class="btn btn-primary pull-right">
										Cadastrar
									</button>
								</div>
							</div>
							{{form_end(form)}}
						</div>
					</div>
				</div>

			</div>
			<!--/.row-box End-->

		</div>
	</div>
	<div class="col-md-4 reg-sidebar">
		<div class="reg-sidebar-inner text-center">
			<div class="promo-text-box">
				<i class=" icon-picture fa fa-4x icon-color-1"></i>
				<h3><strong>Post a Free Classified</strong></h3>
				<p>
					Post your free online classified ads with us. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				</p>
			</div>
			<div class="promo-text-box">
				<i class=" icon-pencil-circled fa fa-4x icon-color-2"></i>
				<h3><strong>Create and Manage Items</strong></h3>
				<p>
					Nam sit amet dui vel orci venenatis ullamcorper eget in lacus.
					Praesent tristique elit pharetra magna efficitur laoreet.
				</p>
			</div>
			<div class="promo-text-box">
				<i class="  icon-heart-2 fa fa-4x icon-color-3"></i>
				<h3><strong>Create your Favorite  ads list.</strong></h3>
				<p>
					PostNullam quis orci ut ipsum mollis malesuada varius eget metus.
					Nulla aliquet dui sed quam iaculis, ut finibus massa tincidunt.
				</p>
			</div>
		</div>
	</div>
	<!--/.page-content-->
</div>

{% endblock %}