{% extends 'DefaultBundle:Template:busca.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col-sm-3 page-sidebar">
        <aside>
            <div class="inner-box">
                {% include 'DefaultBundle:Template:_admin/sidebar.html.twig' with {'empresa': empresa, 'page':'meta'}%}
            </div>
            <!-- /.inner-box  -->

        </aside>
    </div>
    <!--/.page-sidebar-->

    <div class="col-sm-9 page-content">

<div class="adds-wrapper">
  <div class="tab-content">
    <div class="tab-pane active" id="allAds">


      {% for score in pontosProfissionais %}
        <div class="item-list">
          <div class="cornerRibbons topAds">
            <a href="#"> Parabéns</a>
          </div>

          <div class="col-sm-2 no-padding photobox">
            <div class="add-image">
              <span class="photo-count">
                <i class="fa fa-camera"></i> 2 </span>
                <a href="{{path('profissionalavaliacao_show',{id: score.profissionalId})}}">
                  <img class="thumbnail no-margin" src="{{score.foto}}" alt="img">
                </a>
            </div>
          </div>
          <!--/.photobox-->
          <div class="col-sm-7 add-desc-box">
        <div class="add-details">
          <h5 class="add-title"> <a href="{{path('profissionalavaliacao_show',{id: score.profissionalId})}}">
            {{score.equipe}} - {{score.profissional}} </a> </h5>
            <span class="info-row">
              <span class="date">
                <i class=" fa icon-clock"> </i> <b>Ultima avaliação em:</b> {{score.avaliacoes[0].data}} <br/>
              </span> <span class="category"> <b>avaliado por:</b> {{score.avaliacoes[0].superiorImediato}} </span>-
              <span class="item-location"><b><i class="fa fa-dot"></i> pontos:</b> {{score.avaliacoes[0].pontos}} - <b>obs:</b> {{score.avaliacoes[0].observacao}} </span>
            </span>
        </div>

          </div>
              <!--/.add-desc-box-->
              <div class="col-sm-3 text-right  price-box">
                <h2 class="item-price"> {{score.pontos}}/{{score.meta}} </h2>
                <a href="{{path('profissionalavaliacao_show',{id: score.profissionalId})}}" class="btn btn-danger  btn-sm make-favorite">
                  <i class="fa fa-certificate"></i> <span>Visualizar avaliações</span>
                </a>

              </div>
                <!--/.add-desc-box-->
              </div>
            <!--/.item-list-->
      {% endfor %}

          <div class="tab-pane" id="businessAds"></div>
          <div class="tab-pane" id="personalAds"></div>
        </div>
      </div>
    </div>
  </div>
</div>

      {% endblock %}
