{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Meta</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Descricao</th>
                <td>{{ entity.descricao }}</td>
            </tr>
            <tr>
                <th>Pontos</th>
                <td>{{ entity.pontos }}</td>
            </tr>
            <tr>
                <th>Periodo</th>
                <td>{{ entity.periodo|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Periodofim</th>
                <td>{{ entity.periodoFim|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Datacadastro</th>
                <td>{{ entity.dataCadastro|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('meta') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('meta_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
