<div class="user-panel-sidebar">
    <div class="collapse-box">
        <h5 class="collapse-title no-border"> Minha Conta <a href="#MyClassified" data-toggle="collapse" class="pull-right"><i class="fa fa-angle-down"></i></a></h5>
        <div class="panel-collapse collapse in" id="MyClassified">
            <ul class="acc-list">
                <li>
                    <a  {% if page == 'empresa'%} class="active" {%endif%} href="{{path('empresa')}}"><i class="icon-home"></i> {{empresa.nome}}</a>
                </li>

            </ul>
        </div>
    </div>
    <!-- /.collapse-box  -->
    <div class="collapse-box">
        <h5 class="collapse-title"> Pessoas <a href="#MyAds" data-toggle="collapse" class="pull-right"><i class="fa fa-angle-down"></i></a></h5>
        <div class="panel-collapse collapse in" id="MyAds">
            <ul class="acc-list">
                <li>
                    <a href="{{path('equipe')}}" {% if page == 'equipe'%} class="active" {%endif%}><i class="icon-docs"></i> Equipes </a>
                </li>
                <li>
                    <a href="{{path('profissional')}}"  {% if page == 'profissional'%} class="active" {%endif%} ><i class="icon-user"></i> Profissionais </a>
                </li>
                <li>
                    <a href="{{path('meta')}}"  {% if page == 'meta'%} class="active" {%endif%} ><i class="icon-docs"></i> Metas </a>
                </li>
                <li>
                    <a href="{{path('atividademetaprofissional_import')}}"  {% if page == 'importacao'%} class="active" {%endif%} ><i class="icon-docs"></i> importação Metas </a>
                </li>
                <li>
                    <a href="{{path('quiz')}}"  {% if page == 'quiz'%} class="active" {%endif%} ><i class="icon-docs"></i> Quiz </a>
                </li>
                {#
                    <li>
                    <a href="{{path('atividademeta')}}" {% if page == 'atividademeta'%} class="active" {%endif%} ><i class="icon-docs"></i> Atividades por meta </a>
                </li>

                <li>
                    <a href="{{path('atividademetaprofissional')}}" {% if page == 'metaprofissional'%} class="active" {%endif%} ><i class="icon-docs"></i> Atividades por Prof. </a>
                </li>


                <li>
                    <a href="{{path('profissionalavaliacao')}}" {% if page == 'avaliacao'%} class="active" {%endif%} ><i class="icon-docs"></i> Avaliações </a>
                </li>
                #}

            </ul>
        </div>
    </div>
    <!-- /.collapse-box  -->

    <!-- /.collapse-box  -->
</div>
