<section>
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <strong>Informação!</strong> {% block message %}{% endblock %}
    </div>
</section>