{% extends 'DefaultBundle:Template:busca.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col-sm-3 page-sidebar">
        <aside>
            <div class="inner-box">
                {% include 'DefaultBundle:Template:_admin/sidebar.html.twig' with {'empresa': entity, 'page':'equipe'}%}
            </div>
            <!-- /.inner-box  -->

        </aside>
    </div>
    <!--/.page-sidebar-->

    <div class="col-sm-9 page-content">

        <div class="inner-box">
            <div id="accordion" class="panel-group">
                <legend class="title"><h4>Equipes <a class="btn btn-primary btn-sm pull-right" href="{{path('equipe_new')}}"><i class="fa fa-plus"></i> Novo</a>
                    </h4>
                    
                </legend>
                {% for equipe in equipes %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a href="#collapseB1" data-toggle="collapse"> {{equipe.nome}} </a> <a href="{{path('equipe_edit',{id:equipe.id})}}" class="badge pull-right">editar</a></h4>
                    </div>
                    <div class="panel-collapse collapse " id="collapseB1">
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="allAds">

                                </div>
                                <div class="tab-pane" id="businessAds"></div>
                                <div class="tab-pane" id="personalAds"></div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <!--/.row-box End-->

        </div>
    </div>
    <!--/.page-content-->
</div>
{% endblock %}