{% extends 'DefaultBundle:Template:busca.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col-sm-3 page-sidebar">
        <aside>
            <div class="inner-box">
                {% include 'DefaultBundle:Template:_admin/sidebar.html.twig' with {'empresa': empresa, 'page':'equipe'}%}
            </div>
            <!-- /.inner-box  -->

        </aside>
    </div>
    <!--/.page-sidebar-->

    <div class="col-sm-9 page-content">

        <div class="inner-box">
            <div id="accordion" class="panel-group">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a href="#collapseB1" data-toggle="collapse"> Nova Equipe </a></h4>
                    </div>
                    <div class="panel-collapse collapse in" id="collapseB1">
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="allAds">
                                    {{form_start(form)}}

                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            {{form_label(form.nome)}}
                                            {{form_widget(form.nome)}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            {{form_label(form.descricao)}}
                                            {{form_widget(form.descricao)}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            {{form_label(form.empresaId)}}
                                            {{form_widget(form.empresaId)}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            {{form_label(form.responsavel)}}
                                            {{form_widget(form.responsavel)}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <legend class="title"><h4><i class="fa fa-plus"></i> Adicionar Profissionais</h4></legend>
                                    </div>
                                    
                                    
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            {{form_label(form.profissionalId.profissionalId)}}
                                            {{form_widget(form.profissionalId.profissionalId)}}
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-save"></i> Cadastrar</button>
                                        </div>
                                    </div>

                                    {{form_end(form)}}
                                    <br />
                                    <div class="col-sm-12">
                                        
                                        <table class="table data-table">
                                            <tr>
                                                <th>Profissional</th>
                                                <th class="pull-right">Ação</th>
                                            </tr>
                                            
                                            {% for profissional in profissionais %}
                                            <tr>
                                                <td>{{profissional.profissionalId.nome}}</td>
                                                <td>
                                                    <a href="{{path('equipeprofissional_delete',{id:profissional.id})}}" class="btn btn-danger btn-sm pull-right"><i class="fa fa-trash"></i> excluir</a>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                        </table>
                                        
                                    </div>

                                    
                                </div>
                                <div class="tab-pane" id="businessAds"></div>
                                <div class="tab-pane" id="personalAds"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.row-box End-->

        </div>
    </div>
    <!--/.page-content-->
</div>
{% endblock %}