{% extends '::base.html.twig' %}

{% block body -%}
    <h1>AtividadeMetaProfissional list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Profissionalid</th>
                <th>Atividademetaid</th>
                <th>Status</th>
                <th>Datacadastro</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('atividademetaprofissional_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.profissionalId.nome }}</td>
                <td>{{ entity.atividadeMetaId.descricao }}</td>
                <td>{{ entity.status }}</td>
                <td>{% if entity.dataCadastro %}{{ entity.dataCadastro|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('atividademetaprofissional_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('atividademetaprofissional_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('atividademetaprofissional_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
