{% extends 'DefaultBundle:Template:busca.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col-sm-3 page-sidebar">
        <aside>
            <div class="inner-box">
                {% include 'DefaultBundle:Template:_admin/sidebar.html.twig' with {'empresa': empresa, 'page':'atividademetaprofissional'}%}
            </div>
            <!-- /.inner-box  -->

        </aside>
    </div>
    <!--/.page-sidebar-->

    <div class="col-sm-9 page-content">
        
        <div class="inner-box">
        <legend>
            <h3 class="panel-title"> Profisionais por atividade </h3>
        </legend>
            <div id="accordion" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a href="#collapseB1" data-toggle="collapse"> Atividade: {{atividade.protocolo}} - {{atividade.descricao}} </a> <a class="btn btn-primary btn-sm pull-right" href="{{path('atividademetaprofissional_new',{id:atividade.id})}}"><i class="fa fa-plus"></i> Novo</a></h4>
                    </div>
                    <div class="panel-collapse collapse in" id="collapseB1">
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="allAds">

                                    <table class="table data-table">
                                            <tr>
                                                <th>Profissional</th>
                                                <th>Vencimento</th>
                                                <th>Status</th>
                                                <th class="pull-right">Ação</th>
                                            </tr>
                                            {% for entity in entities %}
                                            <tr>
                                                <td>{{entity.profissionalId.nome}}</td>
                                                <td>{{entity.atividadeMetaId.vencimento|date('d-m-Y')}}</td>
                                                <td>{{entity.status|Status}}</td>

                                                <td class="pull-right">
                                                <div class="btn-group">
                                                    <a href="{{path('atividademetaprofissional_edit',{id:entity.id})}}"  class="btn btn-sm btn-warning">
                                                    Editar</a>
                                                </div>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                        </table>
                                        

                                </div>
                                <div class="tab-pane" id="businessAds"></div>
                                <div class="tab-pane" id="personalAds"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.row-box End-->

        </div>
    </div>
    <!--/.page-content-->
</div>
{% endblock %}