{% extends 'DefaultBundle:Template:busca.html.twig' %}

{% block body -%}
<div class="row">
    <div class="col-sm-3 page-sidebar">
        <aside>
            <div class="inner-box">
                {% include 'DefaultBundle:Template:_admin/sidebar.html.twig' with {'empresa': empresa, 'page':'avaliacao'}%}
            </div>
            <!-- /.inner-box  -->

        </aside>
    </div>
    <!--/.page-sidebar-->

    <div class="col-sm-9 page-content">

        <div class="inner-box">
            <div id="accordion" class="panel-group">
                {% for meta in avaliacoes %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"><a href="#collapse{{meta['meta'].metaId.id}}" data-toggle="collapse"> Meta - {{meta['meta'].metaId.descricao}} </a></h4>
                    </div>
                    <div class="panel-collapse collapse in" id="collapse{{meta['meta'].metaId.id}}">
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane active" id="allAds">
                                    <div class="col-sm-12">
                                        <legend class="title"><h4>Lista de Avaliações <a class="btn btn-primary btn-sm pull-right" href="{{path('profissionalavaliacao_new')}}"><i class="fa fa-plus"></i> Novo</a>
                                            </h4>
                                            
                                        </legend>
                                        
                                        <table class="table data-table">
                                            <tr>
                                                <th>Profissional</th>
                                                <th>Avaliador</th>
                                                <th>Ponto</th>
                                                <th>observação</th>
                                                <th class="pull-right">Ação</th>
                                            </tr>

                                            {% for avaliacao in avaliacoes[meta['meta'].metaId.id]['avaliacao'] %}
                                            <tr>
                                                <td>{{avaliacao.profissionalId.nome}}</td>
                                                <td>{{avaliacao.superiorImediato}}</td>
                                                <td>{{avaliacao.pontuacao}}</td>
                                                <td>{{avaliacao.observacao}}</td>
                                                <td>
                                                    <a href="{{path('profissionalavaliacao_delete',{id:avaliacao.id})}}" class="btn btn-danger btn-sm pull-right"><i class="fa fa-trash"></i> excluir</a>
                                                </td>
                                            </tr>
                                            {% endfor %}

                                        </table>
                                        
                                    </div>

                                    
                                </div>
                                <div class="tab-pane" id="businessAds"></div>
                                <div class="tab-pane" id="personalAds"></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!--/.row-box End-->

        </div>
    </div>
    <!--/.page-content-->
</div>
{% endblock %}



