{% extends '::base.html.twig' %}

{% block body -%}
    <h1>AtividadeMeta list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descricao</th>
                <th>Protocolo</th>
                <th>Pontos</th>
                <th>Vencimento</th>
                <th>Metaid</th>
                <th>Datacadastro</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('atividademeta_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.descricao }}</td>
                <td>{{ entity.protocolo }}</td>
                <td>{{ entity.pontos }}</td>
                <td>{% if entity.vencimento %}{{ entity.vencimento|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.metaId.descricao }}</td>
                <td>{% if entity.dataCadastro %}{{ entity.dataCadastro|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.status }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('atividademeta_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('atividademeta_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('atividademeta_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
